a{
    color: white ;
}
.nav-item {
    color: white;
}
.navbar {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    
  }
  nav,.navigation{
      /* background-color: transparent; */
      position: fixed;
      
  }
  .info1,.info2{
    /* position: absolute; */
    
      max-width: 600px;
      height: 50px;
      margin: 5px;
      
      font-family: Myriad Pro;
      padding: 5px;
      border-top-right-radius:  20px ;
      border-bottom-right-radius: 20px  ;
      color:white;
      overflow: hidden;
      text-align: center;
        /* IE 8 */ 
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 
/* IE 5, IE6 and IE7 */ 
/* filter: alpha(opacity=30);  */

/* Netscape */ 
/* -moz-opacity: 0.2; */

/* Safari 1.x Pre webkit */ 
/* -khtml-opacity: 0.2;  */

/* Modern browsers */
/* opacity: 0.2;  */
background-color:rgb(255,255,255,.2);
      
  }
  .info2{
      max-width: 650px;
  }
  .info{
    margin-top: 100px;
  }
  .main-nav{
    background-color: #660066f0;
    height: 10%;
    z-index: 1000;

  }
  
  