<div class="container-fluid">
  <div class="row">
    <nav class="col-12 main-nav">
      <div class="row ">
        <div class="col-3">
          <a routerLink=""><img class="logo" src="../../../../../assets/logo6.png" alt="logo" />
          </a>
        </div>
        <div class=" col-6 ">
          <nav class="navbar navbar-expand-lg navbar-light  bg-transparent justify-content-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" style="color: white;">How It Works</a>
                <a class="nav-item nav-link" href="#" style="color: white;">Explore</a>
                <a class="nav-item nav-link" href="#"><img src="../../../../../assets/mycontents.png" alt="mycontents" /></a>
                <a class="nav-item nav-link" href="#" style="color: white;">My Pins</a>
                <a class="nav-item nav-link" href="#"><img src="../../../../../assets/create.png" alt="create" /></a>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-3">
          <div class="navbar justify-content-flex-end">
            <img src="../../../../../assets/waffle.png" alt="" />
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- end of navbar -->
<div class="info">
  <div class="row"></div>
  <div class="info1">
    <h2>Creative Math Classes Group</h2>
  </div>
  <div class="info2">
    <p>
      The Description Of Creative Math Classes Group,This is the Description Of
      Creative Math Classes Group
    </p>
  </div>
</div>