<div class="mainwrapper">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col3">
        <input
          class="search"
          type="text"
          placeholder="Search My Classes"
          [(ngModel)]="searchTxt"
          (keyup.enter)="searchByName()"
        />
        <i class="fa fa-search" style="color: #330033;"></i>
      </div>
      <div>
        <!-- dropdwon-->
        <div class="btn-group" dropdown [insideClick]="true">
          <button dropdownToggle type="button" class=" dropdown-toggle">
            ... <span class=""></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a
                class="dropdown-item btn"
                (click)="openModalWithComponent('add')"
                >ADD</a
              >
            </li>
            <li role="menuitem">
              <a
                class="dropdown-item btn"
                (click)="openModalWithComponent('edit')"
                >EDIT</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row classlistwrapper" *ngFor="let class of classes">
      <div class="col-2 title">
        <h4>{{ class.section }}</h4>
      </div>
      <div class="col-10 description">
        <h4>{{ class.name }}</h4>
        <!-- <p>school: {{class.school.name}}</p> -->
        <p>grade: {{ class.grade }}</p>
      </div>
    </div>
  </div>
</div>
