.main{
    background-image: url(../assets/bachground.png);
    /* margin: auto; */
    width: auto;
    height: auto;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position:  ;
}